.containerq{ /* Container CLASS */
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  margin-top: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: rgb(58, 58, 58);   /* This is deleted when copied to Weebly. Background needs to be transparent. */
}
  
#title{  /* Title ID */
  font-size: min(40px,5vw);
  font-weight: bold;
  text-align: center;
}
  
#description{  /*description ID*/
  font-size: min(20px,3.5vw);
  font: weight 5px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

#instruction{  /*instruction ID*/
  font-size: min(20px,3.5vw);
  font: weight 5px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 3vw;
  margin-right: 3vw;
}
  
#inputs{  /*input ID*/
  background-color: rgba(0, 255, 255, 0);     
}
  
#inputTEXT{  /* This is the textbox ID */
  font-size: min(25px,3.75vw);
  color: rgb(0, 0, 0);
  width: min(200px,40vw);
  height: min(30px,5vw);
}
  
#button{  /*button ID*/
  font-size: min(20px,3vw);
  margin-left: 2vw;
  width: min(60px,10vw);
  height: min(30px,6vw);
  border-radius: min(7px,1vw);
     
}
  
#output{  /*output ID*/
  font-size: min(20px,3.75vw);
  inline-size: min(1450px,80vw);
  overflow-wrap: break-word;
  margin-left: 2vw;
  margin-right: 2vw;
}